.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  box-shadow: 0px;
}

.app-header  {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  max-height: 80px;
}

.app-header img {
  width: 10%;
  height: auto;
}

.lightRay {
  max-width: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  max-height: 40px;
}

.lightRay img {
  width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
